# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\thoma\Desktop\ALPR\ALPR-CNN-main\ALPR-CNN\rcnn_keras_license_plate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
